body{
  font-family: Arial;
}
p{
  text-align:left;
  padding: 2px;
  width: 200px;
  font-weight: bold;
}
span{
  text-align:left;
  padding: 2px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 5px;
  padding: 2px;
}
input{
  margin-left: 30px;
}
select{
  margin-left: 30px;
}
checkbox{
  margin-left: 30px;
}
.vards{
  padding-left: 7px;
  padding-right: 7px;
}
.vecums{
  padding-left:0px;
  padding-right:0px;
}
.papildus{
  padding-left:0px;
  padding-right:30px;
}
#kaste{
  align-content:left;
  float:center;
  width: 25%;
  height:75%;
  border: 2px solid #e6e6e6;
  padding: 7px 7px 7px 7px;
  maring: 7px 7px 7px 7px;
}
button {
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 7px;
  text-align: center;
  display: inline-block;
  font-weight:bold;
}
#form{
  align: left;
  padding-left:40px;
  padding-bottom:5px;
}
#submit{
  text-align: right;
  padding-bottom:5px;
  padding-top:5px;
  padding-left: 10px;
  padding-right: 10px;
}
hr{
  color:black;
  padding-left: 10px;
  padding-right: 10px;
}
